# Core Visual Studio files
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotNet specific
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
!src/**/bin/
!src/**/obj/

# Logs
*.log

# NPM packages
node_modules/

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.*

# Visual Studio Code specific files
.vscode/*
!.vscode/settings.json
